<!-- update all application to lail  -->
<!-- friday 1/24 FIRST -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= lail.title %></title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= lail.title %> at <%= lail.company %></h1>
  <form
    action="/users/<%= user._id %>/lails/<%= lail._id %>?_method=PUT"
    method="POST"
  >
  <label for="image">Image:</label>
  <input type="text" name="image" id="image" value = "<%= lail.image %>" />

  <label for="music">Edit Text:</label>
  <input type="text" name="addText" id="music" value = "<%= lail.addmusic %>"/>

  <button type="submit">Update Lail</button>
  </form>
    <!-- Ensure footer is included -->
    <%- include('../partials/_footer') %>
</body>
</html>
<!-- friday 1/24 FIRST -->