<!-- update all application to lail  -->
<!-- friday 1/24 FIRST -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= lail.title %></title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= lail.title %> at <%= lail.company %></h1>
  <form
    action="/users/<%= user._id %>/lails/<%= lail._id %>?_method=PUT"
    method="POST"
  >
    <label for="company">Image:</label>
    <input
      type="text"
      name="company"
      id="company"
      value="<%= lail.company %>"
    >
    <label for="add music">Add music:</label>
    <input type="text" name="add music" id="add music" value="<%= lail.title %>">
    <label for="comments">Comments:</label>
    <textarea name="notes" id="comments"><%= lail.notes %></textarea>
    <label for="likes">Likes:</label>
    <input type="text" name="likes" id="likes" value="<%= lail.postingLink %>">
    <label for="posts">Posts:</label>
    <select id="posts" name="posts">
      <option
        value="interested"
        <%= lail.status === "interested" ? "selected" : "" %>
      >
        Immediate 
      </option>
      <option
        value="Immediate"
        <%= lail.status === "Immediate" ? "selected" : "" %>
      >
        In 15 minutes
      </option>
      <option
        value="In 15 minutes"
        <%= lail.status === "In 15 minutes" ? "selected" : "" %>
      >
        In 45 minutes
      </option>
      <option
        value="In 45 minutes"
        <%= lail.status === "in 45 minutes" ? "selected" : "" %>
      >
        Abord
      </option>
      <option
        value="abord"
        <%= lail.status === "abord" ? "selected" : "" %>
      >
       Hold
      </option>
    </select>
    <button type="submit">Update Lails</button>
  </form>
</body>
</html>
<!-- friday 1/24 FIRST -->