<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lails</title>
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>
		<h1>Lails</h1>
		<a href="/users/<%= user._id %>/lails/new">Create a new Post </a>
		<ul>
			<% lails.forEach(lail => { %>
			  <li>
				<a href="/users/<%= user._id %>/lails/<%= lail._id %>">
				  <%= lail.image %> at <%= lail.addmusic %>
				</a>
			  </li>
			<% }); %>
		  </ul>
		  
</body>

</html>