<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lails</title>
    <!-- <link rel="stylesheet" href="/stylesheets/profile.css" /> -->
    <link rel="stylesheet" href="/stylesheets/profile.css" />
	<link rel="stylesheet" href="/stylesheets/navbar.css" />
	<link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
	<div class="profile"> 
		<h1> <%= owner.username %>'s Lails </h1>
		
		<% if (lails.length) { %>
			<% lails.forEach(lail => { %>
				<div class="post">
				  
					<a href="/users/<%= lail.user._id %>/lails/<%= lail._id %>">
						<img src="<%= lail.image %>" width="300px" alt="">
						<h1><%= lail.addText %></h1>
						
					</a>
				  
				</div>
				<% }); %>
				  <% } else { %>
				   no lails yet
			<% } %>
		</div>
			  <!-- Ensure footer is included -->
  <%- include('../partials/_footer') %>
</body>
</html>