<!-- updated all application to lail 1/28 -->
<!-- friday 1/24 FIRST-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<%- include('../partials/_navbar') %>
	<h1><%= lail.image %> at <%= lail.addmusic %></h1>
	<% if (lail.likes) { %>
		<p>Likes: <%= lail.likes %></p> 
	<% } else {%>
      <p>Likes: 0</p>
  <%} %>
  <form
  action="/users/<%= user._id %>/lails/<%= lail._id %>/likes?_method=PUT"
  method="POST"
>
  <button type="submit">like this post</button>
</form>

	<% if (lail.comments.length) { %>
    <!-- for each loops on lails.comments -->
    <% } else {%>
      no comments yet
	<% } %>
	
    <a href="/users/<%= user._id  %>/lails/<%= lail._id %>/edit">Edit</a>
    
    <form
    action="/users/<%= user._id %>/lails/<%= lail._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this application</button>
  </form> 
  

</body>
</html>