

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
  <link rel="stylesheet" href="/stylesheets/show.css" />
</head>

<body>
	<%- include('../partials/_navbar') %>
  <div>
  <img src="<%= lail.image %>" width="300px" alt="">
  <h1><%= lail.addText %></h1>

	<div class="like">
	<% if (lail.likes) { %>
		<p>Likes: <%= lail.likes %></p> 
	<% } else {%>
      <p>Likes: 0</p>
  <%} %>
  
  <form
  action="/users/<%= lail.user._id %>/lails/<%= lail._id %>/likes?_method=PUT"
  method="POST"
>
  <button type="submit">like this post</button>
</form>
</div>
</div>
<form action="/users/<%= lail.user._id %>/lails/<%= lail._id %>/comments" method="POST">

  comment: <input type="text" name="text"/>
  <button type="submit">add comment</button>
</form>

	<% if (lail.comments.length) { %>
    <!-- for each loops on lails.comments -->
    <% lail.comments.forEach(comment => { %>
      <p><%= comment.text %></p>
      <% if (comment.user._id == user._id) { %>
        <form
        action="/users/<%= lail.user._id %>/lails/<%= lail._id %>/comments/<%= comment._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete comment</button>
      </form> 
       
      <% } %>
     
    <% }) %>
    <% } else {%>
      no comments yet
	<% } %>
      <% if (lail.user._id == user._id) { %>
       
        <a href="/users/<%= user._id  %>/lails/<%= lail._id %>/edit">Edit</a>
        
        <form
        action="/users/<%= user._id %>/lails/<%= lail._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete this post</button>
      </form> 
      <% } %>
	
  

</body>
</html> 